:root{
	--height-icon:35px;
	--width-icon:35px;
	--white-color-svg:invert(100%) sepia(100%) saturate(0%) hue-rotate(226deg)
	brightness(102%) contrast(104%);
}

.personal-body {
	display: flex;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.table-personal {
	height: 100%;
}

.personal-table {
	font-family: monospace;
	font-style: revert;
	font-size: 1.3em;
	border: 2px solid grey;
	height: 100%;
	max-width: 250px;
	border-collapse: collapse;
	background: #ffffffb0;
	color: #020202;
}

.personal-table-container {
	height: 80%;
}

.personal-table thead {
	background: linear-gradient(red, #ff000033);
}

.personal-table tbody tr {
	height: 40px;
	min-height: 40px;
	border-bottom: solid;
	border-width: 2px;
	border-color: #0000005c;
	border-style: dashed;
}

.personal-table tbody tr td {
	max-width: 100px;
	border-left: solid;
	border-width: 2px;
	border-color: #0000005c;
	border-style: dashed;
	overflow-x: auto;
}

.content-table-panel {
	display: flex;
	align-items: flex-start;
}

/* Style for Panel */

.body-panel {
	display: grid;
	background: #c1c1c17a;
	border: solid;
	border-color: #808080;
	border-radius: 15px;
	margin: 0px 15px;
	align-items: center;
	height: 317px;
	padding: 20px;
	backdrop-filter: blur(4px);
}

.panel-input {
	display: grid;
}

.panel-content {
	display: flex;
}

.image-panel {
	display: grid;
	width: 156px;
	height: 168px;
	align-items: center;
	margin-left: 23px;
	background: #ffffff45;
	border-radius: 7px;
	border-color: gray;
	border: solid;
	cursor: pointer;
}

.image-panel img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	overflow: hidden;
}

#capture-img {
	display: none;
}

@media screen and (max-width: 660px) {
	.content-table-panel {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.table-personal {
		height: auto;
	}
}

@media screen and (max-width: 425px) {
	.panel-content {
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.image-panel {
		margin-left: 0;
	}
}

/* input text styles */

.panel-input input {
	padding: 7px;
	border-radius: 10px;
	border: none;
	font-style: normal;
	font-family: cursive;
}

.panel-input select{
	padding: 5px;
    border-radius: 10px;
    border: none;
}

.icon_personal {
	height: var(--height-icon);
	width: var(--width-icon);
}

.btns-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.btns-action-efect {
	margin-left: 15px;
	backdrop-filter: blur(5px);
	border-radius: 10px;
	border: none;
	box-shadow: 1px 5px 14px 2px #585858;
	font-style: normal;
	font-family: 'freedoka';
	font-size: 1.2rem;
	cursor: pointer;
}

.btns-options button img {
	filter: var(--white-color-svg);
}

.btn-confirm {
	color: white;
	background: #009d00ad;
}

.btn-confirm:hover {
	background: #00c500ad;
}

.btn-confirm:active {
	background: #057c05ad;
	box-shadow: inset 1px 5px 14px 2px #585858;
}

.edit-personal {
	color: white;
	background: #1b70ffbf;
}

.edit-personal:hover {
	background: #3881fdc9;
}

.edit-personal:active {
	background: #1b70ffbf;
	box-shadow: inset 1px 5px 14px 2px #585858;
}

.btns-action-register button img {
	filter: var(--white-color-svg);
}

.icon_check{
	height: var(--height-icon);
	width: var(--width-icon);
}

.icon_cancel{
	height: var(--height-icon);
	width: var(--width-icon);
}

.btn-cancel {
	color: white;
	background: #ff0606e6;
}

.btn-cancel:hover {
	background: #ff4141e6;
}

.btn-cancel:active {
	background: #bf0000e6;
	box-shadow: inset 1px 5px 14px 2px #585858;
}